<script type="ts">
  import { Writable, writable } from "svelte/store";
  import { Auth0ClientOptions } from "@auth0/auth0-spa-js";
  import page from "page";
  import routes from "./routes";
  import Navbar from "./Navbar.svelte";
  import { initSession } from "./auth";

  let view: Writable<any> = writable(null);
  let params: Writable<Record<string, string>> = writable({});
  const auth0Config: Auth0ClientOptions = {
    domain: "dev-f5p28jks.us.auth0.com",
    client_id: "nmIw3OEqjjs9XzNKh5qmb3pZhuhRgWm1",
    cacheLocation: "localstorage",
  };

  initSession(auth0Config);

  routes.forEach((route) => {
    page(route.path, (ctx) => {
      params.set(ctx.params);
      view.set(route.component);
    });
  });
  page.start({ hashbang: true });
</script>

<style>
  main {
    position: relative;
    top: 4rem;
  }
</style>

<Navbar />
<main>
  <svelte:component this={$view} {...$params} />
</main>
