<script type="ts">
  import qs from "querystring";
  import { onMount } from "svelte";
  import { Writable, writable } from "svelte/store";
  import { fade } from "svelte/transition";
  import createAuth0Client from "@auth0/auth0-spa-js";
  import { Auth0ClientOptions, Auth0Client } from "@auth0/auth0-spa-js";
  import { getSession } from "./auth";

  let { user, logout, login, authenticated, loading } = getSession();
  let showAccount = false;
</script>

<style>
  .navbar {
    /* Force the navbar to the top */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .navitem {
    margin: 1rem;
    height: 2rem;

    /* Stack the links to the left. */
    float: left;

    /* Vertically center and distribute children. */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navitem:last-child {
    /* Push the last link to the right. */
    float: right;
  }
  a.navlink {
    text-decoration: none;
    color: black;
  }
  a.navlink:hover {
    text-decoration: underline;
  }
  .avatar {
    height: 100%;
    border-radius: 50%;
  }
  .account {
    width: 10rem;
    height: 12rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    z-index: 1;

    /* Position below the parent. */
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% + 1rem));

    /* Style the box. */
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 0px #333;

    /* Center align all items. */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account > .avatar {
    height: 6rem;
    width: 6rem;
  }
</style>

<div class="navbar">
  <div class="navitem"><a class="navlink" href="/">Home</a></div>
  <div class="navitem">
    {#if $loading}
      <button class="navlink" disabled>Login</button>
    {:else if $authenticated}
      <img
        class="navlink avatar"
        src={$user.picture}
        alt="user avatar"
        on:click={() => (showAccount = !showAccount)} />
      {#if showAccount}
        <div class="account" transition:fade>
          <img class="avatar" src={$user.picture} alt="user avatar" />
          <button class="action" on:click={logout}>Sign out</button>
        </div>
      {/if}
    {:else}<button class="navlink" on:click={login}>Login</button>{/if}
  </div>
</div>
