<script lang="ts">
  import { onMount } from "svelte";
  import { Writable, writable, get } from "svelte/store";
  import { Queue, queue } from "../util";

  export let category = null;
  let tiles = writable([]);
  let speech: Writable<string> = writable(null);
  let speechBacklog: Queue<string> = queue();
  let voices = null;

  onMount(async () => {
    const res = await fetch("tiles.json");
    tiles.set(await res.json());
  });

  speechSynthesis.onvoiceschanged = () => {
    voices = speechSynthesis.getVoices();
  };

  function speakPhrase(phrase: string) {
    function doNext() {
      let next = speechBacklog.dequeue();
      speech.set(next);
      if (next) {
        speakPhrase(next);
      }
    }
    if (voices.length) {
      let utter = new SpeechSynthesisUtterance(phrase);
      utter.onend = doNext;
      speechSynthesis.speak(utter);
    } else {
      setTimeout(doNext, 1500);
    }
  }

  function enqueuePhrase(phrase: string) {
    if (!get(speech)) {
      speech.set(phrase);
      speakPhrase(phrase);
    } else {
      speechBacklog.enqueue(phrase);
    }
  }

  function stopSpeaking() {
    speechSynthesis.cancel();
    speech.set(null);
    speechBacklog.clear();
  }
</script>

<style>
  .speech {
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background-color: rgba(33, 33, 33, 0.8);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
  }
  .card {
    border-radius: 1rem;
    padding: 1rem;
    transition: background 0.1s;
    box-shadow: 1px 1px 5px 0px #333;
    background-color: #fff;
    height: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .card > img {
    min-width: 0;
    max-width: 100%;
    min-height: 0;
  }
  .card:hover {
    background-color: #eceff4;
  }
  .phrase {
    font-size: 2rem;
  }
</style>

{#if $speech}
  <div class="speech" on:dblclick={stopSpeaking}>
    <b>{$speech}</b>
    {$speechBacklog.join(' ')}
  </div>
{/if}
<div class="cards">
  {#each $tiles as tile}
    {#if !category || tile.categories.includes(category)}
      <div class="card" on:click={() => enqueuePhrase(tile.phrase)}>
        <div class="phrase">{tile.phrase}</div>
        <img src={tile.image} alt={tile.phrase + ' image'} />
      </div>
    {/if}
  {/each}
</div>
